@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#000;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,0.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow:0 1rem 1rem rgba(0,0,0,0.1);
    --purpule: #8f00b3;
    --navy: #000083;
     --pink:#ff1ab3;

}
*{
    font-family: 'poppins',sans-serif;
    margin:0 ;padding:0;
    box-sizing:border-box ;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;



}
.bookish {
    font-family: 'Bodoni MT Black', serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background:transparent ;
}
html::-webkit-scrollbar-thumb {
    background:var(--black) ;
}
section{
    padding :3rem 8%;
}
.heading{
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    top:50%;left:0 ;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgb(0,0,0,.1);
    z-index: -1;

}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);

}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem ;
    border-radius: .5rem;
    color:#fff;

    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    cursor: pointer;
    font-weight: 500;

}
.btn:hover{
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.header .header-1{
    background: #93a2ab;
    padding: 1.3rem 9%;
    display: flex;
    align-item :center;
    justify-content:space-between ;
}
.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);

}
.header .header-1 .logo i{
    color:#000066;
    display: inline-block;
    transition: transform 0.9s ease;
}
.header .header-1 .logo i:hover {

    transform: translateX(140px);

}
.header .header-1 .search-form{
    width: 50rem;
    height: 3.3rem;
    border:var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;

}
.header .header-1 .search-form input{
    font-size: 1.4rem;
    padding:0 1.2rem;
    height: 100%;
    width:100% ;
    text-transform: none;
    color:var(--black);
}
.header .header-1 .search-form label{
    font-size: 2.4rem;
    padding-right: 1.5rem;
    color:#000066;
}

.header .header-1 .search-form label:hover{
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
    -webkit-background-clip: text;
    color: transparent;
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:#000066;
    cursor:pointer;


}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    color: transparent;
}
#search-btn{
    display: none;
}
.header .header-2{
    background: none;
}
.header .header-2 .navbar{
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    padding: .1rem;


}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-family: 'Arial Black',sans-serif;

}
.header .header-2 .navbar a:hover{
    border-radius: 30px;
    color: white;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.header .header-2.active{
    position: relative;
    top:0;left: 0;right: 0;
    z-index: 1000;
    transform: scale(0.95);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
}

body{
    height: 100%;
}
.bottom-navbar{
    text-align:center;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    position: fixed;
    bottom:0; left: 0;right:0;
    z-index: 1000;
    display: none;
}
.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}
.bottom-navbar a:hover{
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
   top:0;right: -105%;
    z-index: 10000;
    height: 700px;
    width:100% ;
}
.login-form-container.active{
    right:0;

}
.login-form-container form{
    background:#fff;
    border: var(--border);
    width: 350px;
    padding: 1.2rem;
    height: 380px;
    box-shadow: var(--box-shadow);
    border-radius: .2rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size:3rem ;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
.login-form-container form span{
    display:block;
    font-size: 1.7rem;
    padding-top: 1rem;
}
.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.7rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1rem;
    color:var(--black);
    text-transform: none;
}
.login-form-container form .checkbox{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap:0.7rem;
    padding:1rem 0 ;
}
.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login-form-container form .btn{
    text-align: center;
    width: 100%;
margin: 1.2rem 0;

}
.login-form-container form p{
    padding-top:.6rem ;
    color: #000;
    font-size: 1.3rem;
}
.login-form-container form p a{
    color: #a570ff;
    text-decoration: underline;
}
.login-form-container #close-login-btn{
position: absolute;
    top:1.3rem;
    right:2.5rem;
    font-size: 3rem;
    color:var(--black);
    cursor: pointer;
}




.account-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top:0;right: -100%;
    z-index: 10000;
    height: 700px;
    width:100% ;
}
.account-info-container.active{
    right:0;

}
.account-info-container form{
    background:#fff;
    border: var(--border);
    width: 350px;
    padding: 1.2rem;
    height: 380px;
    box-shadow: var(--box-shadow);
    border-radius: .2rem;
    margin: 2rem;
}
.account-info-container form h3{
    font-size:2rem ;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.account-info-container form span{
    display:block;
    font-size: 1.3rem;
    padding-top: 1rem;
}
#user-email {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem; /* إضافة مسافة حول النص */
    border: 2px solid #93a2ab; /* إضافة إطار */
    border-radius: 5px; /* لجعل الأطراف مدورة قليلاً */
    margin-top: 15px; /* إضافة مسافة بين الإطار والعناصر الأخرى */
    background-color: #f4f4f4; /* خلفية لتوضيح الإطار */
}

.account-info-container form  p{
    font-size:1.4rem ;
}
.account-info-container .box{
    width: 100%;
    margin: .6rem 0;
    font-size: 1.7rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1rem;
    color:var(--black);
    margin-bottom: 15px;
    text-transform: none;
    height: 3rem;
}


.account-info-container form .pass-btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;

}
.account-info-container form .pass-btn:hover{
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);

}

.account-info-container #close-account-info-btn{
    position: absolute;
    top:1.3rem;
    right:2.5rem;
    font-size: 3rem;
    color:var(--black);
    cursor: pointer;
}



.privacy-policy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.privacy-policy-container.active {
    right: 0;
}

.privacy-policy-container form {
    background: #fff;
    border: var(--border);
    width: 450px;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.3rem;
    margin: 2rem;
    overflow-y: auto; /* إذا كان المحتوى طويلاً */
    max-height: 90vh;
}

.privacy-policy-container form h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    margin-bottom: 1.5rem;
}

.privacy-policy-container form p {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.privacy-policy-container .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
    background: #007bff;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.privacy-policy-container .btn:hover {
    background: #0056b3;
}



.privacy-policy-container #close-privacy-policy-btn {
    position: absolute;
    top: 1.3rem;
    right: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}
.payment-method-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.payment-method-container.active {
    right: 0;
}

.payment-method-container form {
    background: #fff;
    border: var(--border);
    width: 450px;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.3rem;
    margin: 2rem;
    overflow-y: auto; /* إذا كان المحتوى طويلاً */
    max-height: 90vh;
}

.payment-method-container form h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    margin-bottom: 1.5rem;
}

.payment-method-container form p {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
.payment-method-container form label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.payment-method-container form label input {
    margin-right: 1rem;
}

.payment-method-container .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.payment-method-container .btn:hover {
    background: linear-gradient(to right, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);
}



.payment-method-container #close-payment-method-btn {
    position: absolute;
    top: 1.3rem;
    right: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}



.home {
    background: linear-gradient(135deg, #00004d, #93a2ab, #93a2ab, #93a2ab, #93a2ab, #00004d);
    height: 85vh;

}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: -10px;

}

.home .row .content {
    flex: 1 1 39rem;
    margin-top: 100px;

}

.home .row .book-slider {
    flex: 1 1 20rem;
    text-align: center;
    margin-top: 80px;
}

.home .row .book-slider a img {
    width: 110px;
    height: 18rem;
    border: 3px solid transparent;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3), 0 -4px 15px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
    margin-top: 5.5rem;
    opacity: 0; /* مبدئيًا لإظهار الأنيميشن */
}

.home .row .book-slider a:hover img {
    border: 3px solid #000068;
}


.home .row .content h3{
    color: #fff;
    font-size: 3.5rem;



}

.home .row .content p{
    font-family: "Bahnschrift", "SemiBold", sans-serif;
    color: transparent;
    font-size: 1.4rem;
    line-height: 2;

    background-image: linear-gradient( black,navy,black, navy,black,black, black, navy);
    -webkit-background-clip: text;
    background-clip: text;


}
.home .row .content .btn {
    color:#fff;
    font-size: 1.2rem;
    line-height: 2;
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap:1.5rem;
}
.icons-container .icons{
   display: flex;
    align-items: center;
    gap: 1rem;
    padding: -1rem 0;


}
.icons-container .icons i {
    font-size: 2.5rem;
    color:#000066;

}
.icons-container .icons h3{
    font-size: 1.3rem;
    padding-bottom: .5rem;

}
.icons-container .icons p{
    font-size: 1rem;
    padding-bottom: .5rem;

}
/*.blogs .blogs-slider {*/
/*    width: 100%;*/
/*    max-width: 1000px;*/

/*}*/
.blogs .blogs-slider .box{
    margin: 2rem 0;
    width: 30rem;
    border: var(--border);
}

.blogs .blogs-slider .box:hover{
    border: var(--border-hover);
}
.blogs .blogs-slider  .box .image{
    height: 40rem;
    width: 100%;
    overflow: hidden;

}
.blogs .blogs-slider .box .image img {
    height: 100%;
    width: 100%;
   object-fit: cover;
}

.blogs .blogs-slider  .box:hover .image img{
    transform: scale(1.1);
}
.blogs .blogs-slider  .box .content{
    padding: 1.5rem;
}
.blogs .blogs-slider  .box .content h3{
    font-size: 1.7rem;
    color: var(--black);
}
.blogs .blogs-slider  .box .content p{
    font-size: 1.2rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    color:  #000078;
    padding-right: .5rem;
}
.footer .box-container .box a:hover i{

    padding-right: 2rem;
}
.footer .share{
    padding: 1rem 0;
    text-align: center;
    margin-top: 5rem;
}
.footer .share a{

    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:linear-gradient(135deg, #00001a, #000000,#00004d, #000000,#000000);
    margin: 0 .1rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background: linear-gradient(135deg, #00001a, #ff1ab3,#00004d, #38004d,#ff33bb,#00001a,#ff1ab3);

}
.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}
.footer .credit span{
    color: var(--navy);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader-container.active{
    display: none;
}
.loader-container img{
    height: 50rem;

}




@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
    section{
        padding: 2rem 1rem;
    }
}
@media (max-width: 768px){
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }
.header .header-2{
    display: none;
}
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
      box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
       position: absolute;
        top:-115% ; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow)
    }
    .header .header-1 .search-form.active{
        top:115%;
    }
    .home .row .content{
        text-align: center;
    }

    .home .row {
        align-items: center;
    }

    .home .row .book-slider {
        margin-top: 2px; /* تقليل المسافة العلوية */
    }

    .home .row .book-slider a img {
        width: 100px; /* تصغير عرض الصور */
        height: 20rem; /* تصغير ارتفاع الصور */
        margin: 1px 0; /* إضافة مسافة بين الصور */
        opacity: 1; /* عرض الصور بدون تأثيرات إضافية */
    }

    .home .row .book-slider {
        margin-top: 30px; /* تقليل المسافة العلوية */
    }

    .home .row .book-slider a img {
        width: 100px; /* تصغير عرض الصور */
        height: 18rem; /* تصغير ارتفاع الصور */
        margin: 10px 0; /* إضافة مسافة بين الصور */
        opacity: 1; /* عرض الصور بدون تأثيرات إضافية */
    }

    .home .row .content h3{
        font-size:3rem;
        margin-top: -30px;
    }

}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }



}

